body{ 
background-color: rgb(0, 0, 150); 
}
h1{
color: orange; 
text-align: center;
font-size: 60px; 
}
h2{
	color: white; 
}
p{
	color: white; 
}
#messages-container{
	width: 400px; 
	height: 105px; 
	position: relative; 
	top: 200px; 
	left: 125px;
	font-size: 30px; 
}
.bot-message {
  color: white;
}
#user-input{
	position: relative; 
	left: 220px;
}
#send-button{
 display: block;
 margin: 0 auto; 
 background-color: orange; 
 border-radius: 20px; 
}
